/* Colors */

*
{
  /* Special Purpose */
  empty:    rgba(0, 0, 0, 0);
  bg:       rgba(0, 0, 0, 0.8);
  fg:       #ebdbb2;
  fgb:      bold underline #fbf1c7;

  /* Monochrome */
  grey0:    #282828;
  grey1:    #3c3836;
  grey2:    #7c6f64;
  grey3:    #a89984;
  grey4:    #ebdbb2;
  grey5:    #fbf1c7;

  /* Chromatics */
  red:      #fb4934;
  orange:   #fe8019;
  yellow:   #fabd2f;
  green:    #b8bb26;
  cyan:     #8ec07c;
  blue:     #83a598;
  violet:   #a197ae;
  magenta:  #d3869b;
}
