# Theme
hsetroot -cover "${XDG_CACHE_HOME:-"${HOME}/.cache"}/.wallpaper"
xsetroot -cursor_name left_ptr
picom &

# Launch IME
setxkbmap -option "korean:ralt_hangul, korean:rctrl_hanja"
export GTK_IM_MODULE='kime'
export QT_IM_MODULE='kime'
export XMODIFIERS='@im=kime'
kime-xim &

# vim:ft=sh
