* {
    grey0: #191a1a;
    grey1: #282828;
    grey2: #665c54;
    grey3: #bdae93;
    grey4: #d4be98;
    grey5: #efdab9;

    red: #ea6962;
    green: #a9b665;
    yellow: #d8a657;
    blue: #7daea3;
    magenta: #d3869b;
    cyan: #89b482;
}
