#!/usr/bin/env sh
LOCAL_CONFIG_DIR="${XDG_CONFIG_HOME:="${HOME}/.config"}/cologen-refresh"
LOCAL_CACHE_DIR="${XDG_CACHE_HOME:="${HOME}/.cache"}/cologen-refresh"
LOCAL_CACHED_SCHEME="${LOCAL_CACHE_DIR}/cached_scheme.yaml"

INPUT="${LOCAL_CONFIG_DIR}/templates/rofi.template"
OUTPUT="${XDG_CONFIG_HOME}/rofi/color.rasi"
SCHEME="$LOCAL_CACHED_SCHEME"

generate() {
    [ -w "$OUTPUT" ] || touch "$OUTPUT" && chmod +w "$OUTPUT"
    cat "$INPUT" | cologen "$SCHEME" > "$OUTPUT"
    chmod -w "$OUTPUT"
}

generate
