#!/usr/bin/env bash
source "$COLOGEN_REFRESH_CONFIG/path.sh"

declare -r INPUT="$COLOGEN_REFRESH_TEMPLATES/rofi.template"
declare -r OUTPUT="$XDG_CONFIG_HOME/rofi/color.rasi"
declare -r SCHEME="$COLOGEN_REFRESH_CURRENT_SCHEME"

generate() {
    [ -w "$OUTPUT" ] || touch "$OUTPUT" && chmod +w "$OUTPUT"
    cat "$INPUT" | cologen "$SCHEME" > "$OUTPUT"
    chmod -w "$OUTPUT"
}

generate
