$co_empty: rgba(#000000, 0.00);
$co_greybg: rgba(#000000, 0.80);
$co_grey0: #181818;
$co_grey1: #282828;
$co_grey2: #585858;
$co_grey3: #a8a8a8;
$co_grey4: #c8c8c8;
$co_grey5: #e8e8e8;

$co_red: #ab4642;
$co_green: #a1b56c;
$co_yellow: #f7ca88;
$co_blue: #7cafc2;
$co_magenta: #ba8baf;
$co_cyan: #86c1b9;

$co_brightred: #ab4642;
$co_brightgreen: #a1b56c;
$co_brightyellow: #f7ca88;
$co_brightblue: #7cafc2;
$co_brightmagenta: #ba8baf;
$co_brightcyan: #86c1b9;
